<script lang="ts">
	import Svelecte from "svelecte";

	type Option = { label: string; value: string };

	export let options: Array<Option>;
	export let placeholder: string = "Select a role";
	export let value: string | string[] | null;
</script>

<Svelecte
	bind:value
	{options}
	{placeholder}
	labelField="label"
	valueField="value"
	searchable={true}
/>
