<script lang="ts">
	import { Button, ListGroupItem } from "@sveltestrap/sveltestrap";

	export let buttonText = "Remove";
</script>

<ListGroupItem class="d-flex justify-content-between align-items-center">
	<span>
		<slot />
	</span>
	<Button color="link" on:click>{buttonText}</Button>
</ListGroupItem>
